<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      button {
        height: 35px;
      }
      td {
        height: 70px;
      }
      table {
        margin: auto;
        color: black;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <h2 class="pt-3">Add/Edit Employee Information</h2>
      <br />
      <form action="" class="larger shadow h-100 m-auto">
        <h1 class="text-center text-primary p-3">Đây là trang list sp</h1>

        <a href="#!/product/add" class="btn btn-primary mx-4">Thêm</a>
        <table border="0" width="95%" height="40">
          <tr align="center">
            <th width="4">Name</th>

            <th>Office</th>
            <th>Age</th>
            <th>Gender</th>
            
            <th>Salary</th>
            <th width="250">Action</th>
          </tr>
          <tr  ng-repeat="pr in products" align="center">
            <!-- <td>{{pr.id}}</td> -->
            <td >{{pr.name}}</td>

            <td>{{pr.tenDanhMuc}}</td>

            <td>{{pr.age}}</td>
            <td>{{pr.gender}}</td>
            <td>${{pr.salary}}</td>
            <td>
              <button ng-click="onDelete(pr.id)" class="btn btn-danger">
                Xóa
              </button>
              <button ng-click="onEdit(pr.id)" class="btn btn-primary">
                Sửa
              </button>
              <button ng-click="onDetail(pr.id)" class="btn btn-primary">
                Chi tiết
              </button>
            </td>
          </tr>
          <hr />
        </table>
        <hr />
      </form>
    </div>
  </body>
</html>
