<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      div {
        color: black;
      }
    </style>
  </head>
  <body>
    <div class="contrainer-fluid m-5">
      <h1>Welcome to my website!</h1>
      <p>My Name is kien and I am a 19 years old nam</p>
      <p>Họ và tên: Nguyễn Trung Kiên</p>
      <p>MSV: PH44041</p>
      <p>Lớp: WD18309</p>
    </div>
  </body>
</html>
